<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<!-- FullCalendar CSS -->
<link href='/@fullcalendar/core/main.css' rel='stylesheet' />
<link href='/@fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='/@fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='/@fullcalendar/list/main.css' rel='stylesheet' />
<link href='/@fullcalendar/bootstrap/main.css' rel='stylesheet' />
<!-- Bootstrap Core CSS -->
<link href="/bootstrap-style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/bootstrap-style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="/bootstrap-style/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/bootstrap-style/css/stylish-portfolio.css" rel="stylesheet">
<link href="/styles/date.css" rel="stylesheet" >
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src='/bundle.js'></script>
</head>
<body>
    <nav>
      <h3>Light Schedule</h3>
      <p>Organize Your Event In A Few Simple Clicks</p>
    </nav>
    <header>
        <h2>
            Select Event Dates
        </h2>
      </header>
  <div id='wrap'>

    <div id='external-events'>
      <h4>Events Times</h4>

      <div id='external-events-list'>
        <div class='fc-event'><%= title %></div>
        <div class='fc-event'><%= title %></div>
        <div class='fc-event'><%= title %></div>
      </div>
    </div>

    <div id='calendar' data-duration = '<%= duration %>' data-id ='<%= id %>' </div></div>

    <div style='clear:both'></div>

  </div>
  <div class='users_email'>
      <h2>Enter Recipient Emails</h2>
        <form action="/event/users" method="POST">
            <label for="email_1">
              Email:
              <input type="text" name='email_1' required>
            </label>
            <label for="email_2">
              Email:
                <input type="text" name='email_2' required>
            </label>
            <label for="email_3">
              Email:
                <input type="text" name='email_3' required>
            </label>
            <button type='submit'>Submit</button>
        </form>
    </div>
</body>
   <!-- Bootstrap core JavaScript -->
   <script src="/bootstrap-style/vendor/jquery/jquery.min.js"></script>
   <script src="/bootstrap-style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

   <!-- Plugin JavaScript -->
   <script src="/bootstrap-style/vendor/jquery-easing/jquery.easing.min.js"></script>

   <!-- Custom scripts for this template -->
   <script src="/bootstrap-style/js/stylish-portfolio.min.js"></script>
</html>
